header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100px;
    width: 100%;
    background-color: #4c89e3;
    color: #FFF;
    justify-content: space-between;
    }

    header a {
        color: #FFF;
        font-size: 20px;
        margin-left: 10px;
        text-decoration: none;
    }

.menu{

    margin-right: 2%;
    justify-content: space-around;

}

h2{
    padding-left: 2%;
}