body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.corinthians{
    width: 100px;
}

.container{
display: flex;
flex-direction: column;
width: 100%;
justify-content: center;
align-items: center;
}


@media(max-width: 500px){

    .capa{
        width: 100%;
    }

    .botao{
        height: 40px;
        width: 40%;
        background:none ;
        border-radius: 5px;
        color: #4c89e3;
        border: 2px solid #4c89e3;
        display: flex;   
        align-items: center;
        justify-content: center;
        font-weight: bold;
        transition: all 0.5s;
    
    }
    
    .botao:hover{
        background-color: #4c89e3;
        color: white;
    }
       .container{
        display: flex;
        flex-direction: column;
        width: 10%;
        justify-content: center;
        align-items: center;
        margin-left: 50%;

       }

       .post{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 280px;
        background-color: #fff;
        border-radius: 7px;
        border-width: 1px;
        margin: 8px;
        padding: 10px;
        align-items: center;
    }
    

       
}
.oi{
  
    border-radius: 5px;
}

@media(min-width: 500px){

    .post{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 780px;
        background-color: #fff;
        border-radius: 7px;
        border-width: 1px;
        margin: 8px;
        padding: 10px;
        align-items: center;
    }

    .botao{
        height: 40px;
        width: 100%;
        background:none ;
        border-radius: 5px;
        color: #4c89e3;
        border: 2px solid #4c89e3;
        display: flex;   
        align-items: center;
        justify-content: center;
        font-weight: bold;
        transition: all 0.5s;
    
    }
    
    .botao:hover{
        background-color: #4c89e3;
        color: white;
    }

}



.titulo{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.subtitulo{
    margin:5px;
}

